@model IEnumerable<AlexLeeTakeHomeCore.Models.PurchaseDetailItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedByUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseDetailItemAutoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseDetailItemAutoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseDetailItemAutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
